{{!-- MODIFY AT YOUR OWN RISK --}}
<title>{{title}}</title>

<meta name="version" content="{{config.version}}">
<meta name="viewport" content="width=device-width,initial-scale=1">

<link rel="stylesheet" href="{{config.base}}/styles/main.css?v={{config.version}}"/>
<link rel="stylesheet" href="{{config.base}}/styles/site.css?v={{config.version}}"/>

<script src="{{config.base}}/scripts/main.js?v={{config.version}}"></script>
<script src="{{config.base}}/scripts/site.js?v={{config.version}}"></script>

<link rel="canonical" href="{{url}}">

<link rel="apple-touch-icon" sizes="57x57" href="{{config.base}}/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{config.base}}/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{config.base}}/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{config.base}}/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{config.base}}/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{config.base}}/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{config.base}}/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{config.base}}/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{config.base}}/apple-icon-180x180.png">

<link rel="icon" type="image/png" sizes="192x192"  href="{{config.base}}/android-icon-192x192.png">

<link rel="icon" type="image/png" sizes="32x32" href="{{config.base}}/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{config.base}}/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{config.base}}/favicon-16x16.png">

<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="msapplication-TileColor" content="{{config.color}}">

<meta name="theme-color" content="{{config.color}}">
{{!-- <link rel="manifest" href="{{config.base}}/manifest.json">

<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Recipe",
        "name": "Party Coffee Cake",
        "author": {
            "@type": "Person",
            "name": "Mary Stone"
        },
        "datePublished": "2018-03-10",
        "description": "This coffee cake is awesome and perfect for parties.",
        "prepTime": "PT20M"
    }
</script> --}}

<script src=”//localhost:35729/livereload.js?snipver=1" type=”text/javascript”></script>